:root {
    --fundo-header: #353535;
    --fundo-banner: #3c6e71;
    --fonte-header: 'Changa', sans-serif;
    --fonte-banner: 'Geologica', sans-serif;
    --fonte-principal: 'Manrope', sans-serif;;
    --fonte-secundaria: 'Signika Negative', sans-serif;
}

body {
    background-color: #ebebeb;
}

html, body {
    width: 100vw;
    height: 100vh;
}

.cabecalho {
    display: flex;
    justify-content: center;
    border: 1px solid;
    margin: 0 0.5em;
    padding: 0.5em;
    border-radius: 0px 0px 5px 5px;
    background-color: var(--fundo-header);
}

.container-cabecalho {
    padding: 0.2em;
}

.cabecalho-text {
    font-family: var(--fonte-header);
    font-size: 38px;
    font-weight: 600;
    color: whitesmoke;
}

.banner {
    display: flex;
    justify-content: center;
    border: 1px solid;
    margin: 0 1em;
    padding: 0.7em;
    background-color: var(--fundo-banner);
    border-radius: 0px 0px 5px 5px;
}

.banner-text {
    font-family: var(--fonte-banner);
    font-size: 30px;
    color: whitesmoke;
}

/* Estilos da parte principal da page */

.principal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid; */
    padding: 0.1em 0.5em;
    margin: 0 1em;
    /* background-color: #d9d9d9; */
    border-radius: 5px;
}

.linha-meio{
    margin: 1em 0;
    height: 390px;
    align-self: center;
    border: 0.5px solid var(--fundo-banner);
}

/* Estilos do campo de busca pelo CEP, inputs, labels e botões */

.campoCEP-container {
    /* border: 1px solid; */
    padding: 0.5em;
    row-gap: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-label {
    font-size: 20px;
    font-family: var(--fonte-secundaria);
}

.inputs {
    padding: 0.3em;
    border-radius: 3px;
    border: 1px solid; 
}

.btnBuscarEND, .btnBuscarCEP {
    font-family: var(--fonte-secundaria);
    padding: 0.7em 1.7em;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #284b63;
    color: whitesmoke;
}

.btnNovaBuscaEND, .btnNovaBuscaCEP {
    cursor: pointer;
    padding: 0.7em 1.7em;
    margin-top: 0.7em;
    position: relative;
    left: 42%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #284b63;
    color: whitesmoke;
}

/* Estilo do campo onde a tabela de resultado do CEP e Endereço irão e suas respectivas tabelas */

.cep-resultado-container, .endereco-resultado-container {
    display: none;
    padding: 0.5em;
}

.tabela-cep, .tabela-end {
    display: none;
    border-collapse: separate;
    border: 2px solid var(--fundo-header);
    border-radius: 5px;
    overflow: hidden;
}

.tabela-cep th, .tabela-end th {
    font-family: var(--fonte-banner);
    padding: 0.8em;
    color: whitesmoke;
    background-color: #284b63;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.tabela-cep td, .tabela-end td {
    font-family: var(--fonte-principal);
    padding: 0.6em;
    text-align: center;
    border-right: 0.1px solid;
    border-bottom: 0.1px solid;
}

.tabela-cep td:last-child, .tabela-end td:last-child {
    border-right: none;
}

/* Estilos do campo de busca pelo Endereço e o campo select*/

.endereco-container {
    /* border: 1px solid; */
    padding: 0.5em;
    row-gap: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.endereco-container-title {
    font-family: var(--fonte-banner);
    margin-bottom: 0.3em;
    font-size: 2.6em;
    padding: 0.1em;
}

.busca-endereco-container {
    display: flex;
    column-gap: 0.5em;
}

.uf-select {
    font-size: 14px;
}

select option {
    padding: 0.3em;
    text-align: center;
}

/* Estilos do rodapé da page */

.rodape {
    padding: 1em;
    background-color: #353535;
    text-align: center;
}

.rodape-text {
    font-family: var(--fonte-header);
    color: whitesmoke;
}

/* MEDIA QUERIES */

/* Telas piticas: 600px and down */
/* Smartphones: 600px and up */
/* Tablets: 768px and up */
/* Desktop: 992px and up */
/* Telas enormes: 1200px and up */

@media screen and (max-width: 600px) {
    .cabecalho-text {
        font-size: 24px;
    }

    .banner {
        margin: 0 2em;
    }

    .banner-text {
        font-size: 22px;
    }

    .principal {
        flex-direction: column;
    }

    .linha-meio {
        height: 0;
        width: 500px;
    }

    /* .cep-resultado-container-mq {
        display: n;
    } */

}
